<template>
  <Head>
    <Title>Чо помыть?</Title>
    <Link rel="icon" href="https://cdn-icons-png.flaticon.com/512/995/995053.png" />
    <Link rel="preconnect" href="https://fonts.googleapis.com" />
    <Link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <Link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />

    <!-- Preload all zone icons -->
    <Link v-for="{ iconUrl } in zones" rel="prefetch" :href="iconUrl"/>
  </Head>
  <main :class="$style['main-col']">
    <section :class="$style.controls">
      <LoadingPanel v-if="isLoading" />
      <NewEvent :class="$style['new-event-form']" :zones="zones" @new-event="addEvent">
        <template #error><p v-if="errorMessage" :class="$style.error" v-text="errorMessage" /></template>
      </NewEvent>
    </section>
    <EventFeed :events="eventView" @load-more="loadMoreEvents" />
  </main>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';

import { useAsyncData } from '#app';

import LoadingPanel from '@/components/LoadingPanel.vue';
import NewEvent from '@/components/NewEvent.vue';
import EventFeed from '@/components/EventFeed.vue';

import useAction from '@/helpers/useAction';

const isLoading = ref(false);
const errorMessage = ref<string | undefined>(undefined);

/**
 * `useFetch` shit produces a weird wrong type here. It's also wrong with
 * (also in the same way) `useAsyncData` if we omit `async` for inner function.
 */
const { data: zones } = await useAsyncData('zones', async () => $fetch('/api/next-zones'));

const events = ref<{ date: Date; zoneName: string; }[]>([]);

const eventView = computed(() => events.value.map(({ date, zoneName }) => {
  const zone = zones.value.find(zone => zone.name === zoneName);

  return {
    date, 
    title: zone ? zone.title : `Неизвестная зона: ${zoneName}`,
    iconUrl: zone ? zone.iconUrl : 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Icon-round-Question_mark.jpg/600px-Icon-round-Question_mark.jpg',
  };
}));

const currentEventPage = ref(0);
const hasNextEventPage = ref(true);

const loadEventsAction = useAction(async () => {
  const { events: moreEvents, hasNextPage } = await $fetch('/api/events', { params: { page: String(currentEventPage.value++) }});

  hasNextEventPage.value = hasNextPage;

  events.value = [
    ...events.value,

    ...moreEvents.map(event => ({
      ...event,
      date: new Date(event.date),
    })),
  ];
}, isLoading, errorMessage);

const loadMoreEvents = async () => {
  if (isLoading.value || !hasNextEventPage.value) {
    return;
  }

  await loadEventsAction();
};

const addEvent = useAction(async (newEventZone: string) => {
  const data = await $fetch('/api/add-event', { method: 'post', body: { zoneName: newEventZone }});

  if (!data) {
    throw new Error('No response after adding event');
  }

  events.value = [
    {
      ...data.newEvent,


      date: new Date(data.newEvent.date),
    },
    ...events.value,
  ];

  zones.value = data.nextZones;
}, isLoading, errorMessage);

onMounted(async () => {
  /**
   * We just wing it and assume that 2 fetches will give us either 
   * all available events or enough to fill >100% of screen height
   */
  await loadMoreEvents();
  await loadMoreEvents();
});
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
</style>

<style module lang="scss">
.main-col {
  width: 600px;
  margin: 0 auto;
  user-select: none;
}

.controls {
  position: sticky;
  top: 0;
}

.error {
  color: red;
}
</style>
