<template>
  <section>
    <EventFeedItem
      v-for="{ date, iconUrl, title } in events"
      :key="date.toISOString()"
      :date="date"
      :title="title"
      :icon-url="iconUrl"
    />
    <div ref="loadTrigger" />
  </section>
</template>

<script setup lang="ts">
import { ref, watch, Ref } from 'vue';

import { makeUseInfiniteScroll } from 'vue-use-infinite-scroll';

import EventFeedItem from './EventFeedItem.vue';

defineProps<{
  events: {
    date: Date;
    title: string;
    iconUrl: string;
  }[];
}>();

const emit = defineEmits<{ (event: 'load-more'): void }>();

const useInfiniteScroll = makeUseInfiniteScroll({})
const loadTrigger = ref<HTMLElement>();

/** 
 * This shit somehow wants element to be present in ref already when we call `useInfiniteScroll`.
 * However the element will only be present inside `onMounted` hook. But this shit itself is using
 * that hook internally and it would be quite stupid to nest a hook inside a hook so use `as`.
 */
const page = useInfiniteScroll(loadTrigger as Ref<HTMLElement>);

watch(page, () => emit('load-more'));
</script>
