<template>
  <article :class="$style['event-feed-item']">
    <div :class="$style['date-container']">
      <p>{{ weekDay }}</p>
      <p :class="$style.date">{{ date.getDate() }}</p>
      <p :class="$style.month">{{ month }}</p>
    </div>
    <img :class="$style.icon" :src="iconUrl" />
    <div>{{ title }}</div>
  </article>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { format } from 'date-fns';
import { ru as locale } from 'date-fns/locale';


const props = defineProps<{
  date: Date;
  title: string;
  iconUrl: string;
}>();

const weekDay = computed(() => format(props.date, 'EEEE', { locale }));
const month = computed(() => format(props.date, 'MMMM', { locale }).replace('.', ''));
</script>

<style lang="scss" module>
.event-feed-item {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  background-color: rgba(0, 0, 0, 0.5);

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date, .month {
  font-weight: bold;
}

.date {
  font-size: 2.5rem;
  line-height: 2.7rem;
}

$icon-size: 48px;

.icon {
  display: block;
  width: $icon-size;
  height: $icon-size;
}
</style>
