<template>
  <div :class="$style['loading-panel']">Loading...</div>
</template>

<style module lang="scss">
.loading-panel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 6px;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
</style>
