<template>
  <form :class="$style['new-event']" @submit.prevent="emit('new-event', newEventZone)">
    <div :class="$style['top-row']">
      <div>Нужно помыть:</div>
      <img :class="$style.icon" :src="iconUrl" />
      <select :class="$style.select" v-model="newEventZone">
        <option v-for="{ name, title } in zones" :key="name" :value="name">{{ title }}</option>
      </select>
      <button :class="$style.button" type="submit">Помыто!</button>
    </div>

    <slot name="error" />
  </form>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue';

const props = defineProps<{
  zones: {
    name: string;
    title: string;
    iconUrl: string;
  }[];
}>();

const emit = defineEmits<{ (event: 'new-event', zoneName: string): void }>();

const newEventZone = ref(props.zones[0].name);
const iconUrl = computed(() => props.zones.find(({ name }) => newEventZone.value === name)?.iconUrl);

watch(() => props.zones, () => { newEventZone.value = props.zones[0].name; });
</script>

<style lang="scss" module>
.new-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid black;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

$icon-size: 48px;

.icon {
  width: $icon-size;
  height: $icon-size;
}

.select, .button {
  padding: 8px 16px;
  font-size: 1.1em;
}
</style>
